
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<div>
  <agm-map [latitude]="lat" [longitude]="long" [streetViewControl] = true (mapReady)="onMapLoad($event)">
    <!--  <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>-->
  </agm-map>
  <button mat-button color="primary" (click)="getdetailData('ASSAULT') ">ASSAULT</button>
  <button mat-button color="primary" (click)="getdetailData('HOMICIDE') ">ASSAULT</button>
  <button mat-button color="primary" (click)="getdetailData('THEFT') ">THEFT</button>
  <button mat-button color="primary" (click)="getdetailData('ROBBERY') ">ROBBERY</button>
  <button mat-button color="primary" (click)="getdetailData('VEHICLE THEFT') ">VEHICLE_THEFT</button>
  <button mat-button color="primary" (click)="getdetailData('VEHICLE VANDALISM') ">VEHICLE_VANDALISM</button>

</div>

<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input
    [formGroup]="campaignOne"
    [rangePicker]="picker">
    <input matStartDate placeholder="Start date" formControlName="start" (dateInput)="addstart('Start',$event)">
    <input matEndDate placeholder="End date" formControlName="end" (dateInput)="addend('End',$event)">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

