<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<div>

  <agm-map [zoom]=8.8 [latitude]="lat" [longitude]="long" [streetViewControl] = true (mapReady)="onMapLoad($event)">

    <!--  <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>-->
  </agm-map>
  <div></div>
  <div class="setting">
  <div class="buttons">
  <button mat-button color="primary" (click)="getDatedate('ASSAULT') ">ASSAULT</button>
  <button mat-button color="primary" (click)="getDatedate('HOMICIDE') ">ASSAULT</button>
  <button mat-button color="primary" (click)="getDatedate('THEFT') ">THEFT</button>
  <button mat-button color="primary" (click)="getDatedate('ROBBERY') ">ROBBERY</button>
  <button mat-button color="primary" (click)="getDatedate('VEHICLE THEFT') ">VEHICLE THEFT</button>
  <button mat-button color="primary" (click)="getDatedate('VEHICLE VANDALISM') ">VEHICLE VANDALISM</button>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName="start" (dateInput)="addstart('Start',$event)">
      <input matEndDate placeholder="End date" formControlName="end" (dateInput)="addend('End',$event);getAllData()" >
    </mat-date-range-input >
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  </div>
</div>



